div{
  width: 800px;
  height: 800px;  ;
  background-color: #BDB78B;
  margin: 0 auto;
  padding: 20px;
}

p{
  height: 100px;
  width: 100px;
  margin: 0;
  float: left;
}

b:hover{
  position: relative;
  top: 100px;
}


.blancas{
  margin: 10px;
  display: block;
  width: 80px;
  height: 80px;
  background-color: white;
  background-image: radial-gradient(white, grey);
  background-position: -5px -5px;
  border-radius: 50px;

}


.negras{
  display: block;
  width: 80px;
  height: 80px;
  background-color: black;
  background-image: radial-gradient(grey, black);
  background-position: -5px -5px;
  border-radius: 50px;
  margin: 10px;


}

.parell{
  background-color: white;
}

.imparell {
  background-color: black;
}








/*-------Teoria pseudo classes---------

Etiquetes ------> elements genèrics <div>
Classes ------> elementes classificats en subgrups .imparell
ID ------> elements identificatoris de forma  .reiblanc



Pseudo classes ------> estats dels elementes
              :hover ----> quan passen per sobre
              :visited -----> qiam l'hem visitat
              :active ------> quan estem fent clic
              :focus ------> quan està seleccionat
              :checked ------> quan està "checkat"


              :first-child ------> primer element
              :last-child ------> últim element
              nth-child ------> element N
                        N= cualquiera
